html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
  font-family: 'Nunito', sans-serif;

}

/* styling the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

/* styling the nav-links */
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 25%;
  margin: 10px 25px 0 0;
  padding-left: 0px;
}

/* nav anchors */
.nav-links a {
  color: black;
  font-weight: 700;
}
.nav-links a:hover {
  color:#7D0A80;
  border-bottom: 3px solid #02C567 ;
}
.nav-links li {
  float: left;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

/* styling the nav-icons */
.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 30px;
  margin:5px 15px 0 0;
}
.fa-shopping-cart {
  font-size: 25px;
  background-image: linear-gradient(192.65deg, #7D0A80 -19.7%, #02C567 99.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*styling the second section*/
.section {
  display: flex;
  flex-direction: column;
  margin:10px auto;
  padding-left: 30px;
  height: 300px;
  width: 1270px;
  background: #02C567;
  border-radius: 8px;
  background-image: url('/hero-img.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* styling the div text */
[class*="text"] {
  color: white;
}
.text1, .text2 {
  font-size: 25px;
}

.text3 {
  text-align: center;
 margin-top:40px;
}

/* heading*/
.heading {
  text-align: center;
  font-size: 23px;
}

/* product section */
.product_section {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 313px);
  grid-template-rows: repeat(4, 353px);
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  border-radius: 8px;
  transition: height 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.product:hover {
  height: 360px ;
  box-shadow: 0 0 15px #02C567;
}

/* positioning the product desription */
span {
  display: inline-block;
  margin-left: 12px;
}
/* styling the button */
.btn {
  display: none;
  height: 45px;
  width: 188px;
  background-color: #7D0A80;
  border-radius: 4px;
  color: white;
  margin: 5px 0 0 12px;
}
.product:hover .btn {
  display:block;
}
.fa-cart-plus {
  margin-right: 8px;
  color: white;
}
/* styling the heart */
.heart {
  display: flex;
  cursor: pointer;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #F3F3F3;
  box-shadow: 0 0 9px #7D0A80;
  border-radius: 50%;
  z-index: 1;
}
.product:hover .heart {
  opacity:1;
}
.fa-heart-o {
  color: #02C567;
  text-align: center;
}
/* styling the text under the product section */
.bottom_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.see_more {
  font-size: 23px;
  color:#c02dc5;  
}
.seemore {
  text-decoration: none;
}
.pages {
  margin-top: 0;
  color: black;
}
.one {
  color: #c02dc5;
  margin-right: 2px;
}

/* Styling the footer section */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 105px;
  width: 1139px;
  height: 300px;
  background-color: #B2ADD4;
} 
/* footer img */
.Logo {
  height: 40px;
  width: 200px;
  margin-top: 20px;
}
.footer_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 0;
}
/* first list */
.search_links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
}
.search_links a {
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
/* second list */
.search_links i {
  margin-right: 5px;
  color: #2F88FF;
}
/* headers */
.head {
  font-size: 23px;
  font-weight: bold;
}
/* copyright */
.copyright {
  text-align: center;
  color: black;
  font-size: 22px;
}


  
@media screen and (min-width: 1213px) and (max-width:1315px) {
/*styling the second section*/
.section {
  width: 93%;
  background-size: 38cqw ;
  background-position: 62cqw bottom;
}
/* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 292px);
  grid-template-rows: repeat(4, 340px);
}
.product:hover {
  height: 347px ;
  box-shadow: 0 0 15px #02C567;
}  
}

@media screen and (min-width:1132px) and (max-width:1212px) {
  /*styling the second section*/
.section {
  width: 93%;
  background-size: 38cqw ;
  background-position: 62cqw bottom;
}

/* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 270px);
  grid-template-rows: repeat(4, 330px);
}
.product:hover {
  height: 337px ;
  box-shadow: 0 0 15px #02C567;
} 

/* Styling the footer section */
.footer {
  margin: 15px 0 0 0px;
  justify-content: unset;
  width: 100%;
  padding: 0px 0px;
} 
}

@media screen and (max-width:1131px) {
/*styling the second section*/
.section {
  width: 93%;
  background-size: 38cqw ;
  background-position: 62cqw bottom;
}
/* Styling the footer section */
.footer {
  margin: 15px 0 0 0px;
  justify-content: unset;
  width: 100%;
  padding: 0px 0px;
} 
/* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 260px);
  grid-template-rows: repeat(4, 320px);
}
.product:hover {
  height: 320px ;
  box-shadow: 0 0 15px #02C567;
}
}

@media screen and (max-width:1084px) {
  /* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(4, 310px);
}
.product:hover {
  height: 310px ;
  box-shadow: 0 0 15px #02C567;
}
}

@media screen and (max-width:1044px) {
  /* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 240px);
  grid-template-rows: repeat(4, 300px);
}
.product:hover {
  height: 300px ;
  box-shadow: 0 0 15px #02C567;
}
}

@media screen and (max-width:1004px) {
/* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 235px);
  grid-template-rows: repeat(4, 297px);
}
.product:hover {
  height: 297px ;
  box-shadow: 0 0 15px #02C567;
}
/* styling the navbar */
.navbar {
  padding-right:10px;
}
}

@media screen and (max-width:984px) {
    /* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 229px);
  grid-template-rows: repeat(4, 320px);
}
.product:hover {
  height: 320px ;
  box-shadow: 0 0 15px #02C567;
}
.btn {
  display: block;
  height: 45px;
  width: 148px;
}
.heart {
  opacity: 1;
}
}

@media screen and (max-width:960px) {
/* product section */
.product_section {
  grid-template-columns: repeat(auto-fit, 219px);
  grid-template-rows: repeat(4, 320px);
}
}

@media screen and (max-width:920px) {
/*styling the second section*/
.section {
  width: 91%;
  background-size: 38cqw ;
  background-position: 62cqw bottom;
}

.product_section {
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: repeat(4, 340px);
}
.product:hover {
  height: 340px ;
  box-shadow: 0 0 15px #02C567;
}
.btn {
  display: block;
  height: 45px;
  width: 178px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
}

@media screen and (max-width:869px) {
  .product_section {
  grid-template-columns: repeat(auto-fit, 260px);
  grid-template-rows: repeat(4, 340px);
}
  .product:hover {
  height: 340px ;
  box-shadow: 0 0 15px #02C567;
  }
.Logo {
  margin-left: 30px;
}
.section {
  width: 91%;
  background-size: 50cqw ;
  background-position: 58cqw bottom;
}
.nav-links {
  display: none;
}
}

@media screen and (max-width:809px) {
.product_section {
  grid-template-columns: repeat(auto-fit, 243px);
  grid-template-rows: repeat(4, 320px);
}
  .product:hover {
  height: 340px ;
  box-shadow: 0 0 15px #02C567;
  }
.Logo {
  margin-left: 30px;
}
.section {
  width: 91%;
  background-size: 60cqw ;
  background-position: 52cqw bottom;
}  
.btn {
  display: block;
  height: 40px;
  width: 148px;
  margin-bottom: 10px;
}
}

@media screen and (min-width:700px) and(max-width:758px) {
.hidden {
  display: flex;
}  
.product_section {
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(4, 350px);
}
.product:hover {
  height: 350px ;
  box-shadow: 0 0 15px #02C567;
}
.btn {
  display: block;
  height: 40px;
  width: 178px;
  margin-bottom: none;
}
.hide {
  display: none;
}
.footer {
  width: 100%;
}
.search_links {
  margin-right: 30px;
}
.section {
  width: 86%;
  background-size: 60cqw ;
  background-position: 48cqw bottom;
}
.navbar {
  padding: 10px 25px 15px 40px;
}
.hidden {
  display: flex;
}
}

/*mobile resposiveness */
@media screen and (max-width: 700px) {    
  /* Nav-bar responsiveness */
  .navbar {
    padding: 10px 13px 0 10px;
    margin-bottom: 10px;
  }
  /* navigation-links */
  .nav-links {
    display: none;
    margin: 0;
  }
  .logo {
    height: 25px;
    width: 150px;
  }
  /* styling the nav-icons */
  .nav-icons {
    margin:5px 0px 1px 0;
    width: 60px;
  }  
  /* styling the second section */
  .section {
    padding-left: 10px;
    height: 150px;
    width: 93%;
    background-size: 60cqw ;
    background-position: 50cqw bottom;
  }
  .text1, .text2 {
    font-size: 14px;
  }
  .text3 {
    position: absolute;
    top:175px ;
    left:40px;
    font-size: 11px;
  }
  /* heading before the products*/
  .heading {
    text-align: center;
    font-size: 18px;
  }
  /* product section */
  .product_section {
    grid-template-columns: repeat(auto-fit, 167px);
    grid-template-rows: repeat(8, 210px);
  }
  .product {
    font-size: 11px;
  }
  .product:hover {
    height: 210px;
    box-shadow: 0 0 9px #02C567;
  }
  /* styling the button */
  .btn {
    display: block;
    height: 25px;
    width: 100px;
    border-radius: 8px;
    font-size: 11px;
  }
  /* styling the heart */
  .heart {
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 5px #7D0A80;
  }
  /*bottom text */
  .see_more {
    font-size: 15px;
  }
  .pages {
    font-size:11px;
    text-align: center;
  }
  /* Styling the footer section */
  .footer {
    justify-content: unset;
    padding: 10px 0px; 
    width: 100%;
    height: 190px;
    margin: 15px 0 0 0px;
  }
  .Logo {
    height: 25px;
    width: 160px;
    margin: 0 0 0 7px;
  }
  .head {
    font-size:13px;
  }
  /* first list */
  .search_links {
    padding: 0;
    font-size: 11px;
    line-height: 10px;
  }
  .footer_links {
    margin: 15px 15px 15px 0px;
  }
  .hide {
    display:none;
  }
  /* copyright */
  .copyright {
    font-size: 12px;
  }
  .hidden {
    display: flex;
  }
  }